:root {
    --clr-primary-100: #00e3c6;
    --clr-primary-300: #00b9ce;
    --clr-primary-500: #008dc6;
    --clr-primary-900: #003580;
    --clr-neutral-100: #b1a8b9;
    --clr-neutral-300: #7c7484;
    --clr-neutral-900: #200549;
    --clr-accent-900: #9610d8;
    --ff-primary: 'Lato', sans-serif;
    --ff-accent: 'Lobster', cursive;
    --br: 0.5em;
    --linear-grad: linear-gradient(to left top, #003580, #00458f, #00569d, #0066aa, #0077b7, #0086c1, #0095cb, #00a4d3, #00b5d9, #00c5d8, #00d5d2, #00e3c6);
}

/*------ Global Settings------*/

*, *::before, *::after {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Body Styling */

body {
    background: url('../images/background.png') no-repeat center center/cover;
    height: 100vh;
    color: var(--clr-neutral-100);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

/* Title Styling */

.title__holder {
    grid-column:  1/4;
    grid-row: 1/2;
    justify-self: center;
    align-items: center;
    display: flex;
    align-content: center;
    align-items: center;
}

.title {
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .2rem;
    font-size: 3vh;
}

/* Card Styling */

.card__holder {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

/* .card__main {
    width: 80%;
    height: 90%;
    justify-content: center;
    align-items: center;
    background: var(--linear-grad);
    transition: transform 1s;
    /*direction od movement
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
border-radius: var(--br);
} */

/* .card__main.id-flipped {
    transform: rotateY(180deg);
} */

.card {
/* position: absolute; */
    width: 70%;
    height: 100%;
    background: var(--linear-grad);
    display: flex;
    justify-content: center;
    align-items: center;
    /*hide back-side*/
    /* -webkit-backface-visibility: hidden;
    backface-visibility: hidden; */
    overflow: hidden;
    border-radius: var(--br);
    box-shadow: 0px 3px 18px 3px rgba(255, 254, 254, 0.2);
}

.card--front {

    display: flex;
    align-items: center;
    justify-content: center;
    color: cornsilk;
    background-color: cornflowerblue;
}

p {
    width: 50%;
}

.card--hidden {
    display: none;
}



/* Button Styling */

.button__holder {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__next {
    background-color: var(--clr-primary-500);
    padding: 2vh;
    font-size: 2vh;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--clr-neutral-900);
	text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border:1px solid #337fed;
    border-radius: var(--br);
    box-shadow:inset 0px 2px 0px 0px #97c4fe;
	display:inline-block;
	cursor:pointer;

}

.card__next:hover {
	background:linear-gradient(to bottom, #0d67f7 50%, #3d94f6 100%);
	background-color:#1e62d0;
}


