:root {
    --clr-primary-100: #00e3c6;
    --clr-primary-300: #00b9ce65;
    --clr-primary-500: #008dc6;
    --clr-primary-900: #003580;
    --clr-neutral-100: #b1a8b9;
    --clr-neutral-300: #27104b;
    --clr-neutral-900: #200549;
    --clr-accent-900: #9610d8;
    --br: 0.7em;
    --linear-grad: linear-gradient(to left top, #003580, #00458f, #00569d, #0066aa, #0077b7, #0086c1, #0095cb, #00a4d3, #00b5d9, #00c5d8, #00d5d2, #00e3c6);
}

/*------ Global Settings------*/

*, *::before, *::after {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Body Styling */

body {
    background: url('../images/background.png') no-repeat center center/cover;
    height: 100vh;
    color: var(--clr-neutral-100);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 2fr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* --- << Menu page >> --- */

.menu__header {
    grid-column:  2/3;
    grid-row: 1/2;
    justify-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 5vh;
}

.menu__title {
    font-size: 5vh;
    margin-bottom: 5vh;
    padding: 2rem;
    background: var(--linear-grad);
    color: var(--clr-neutral-900);
    border-radius: 1rem;
    letter-spacing: 0.3rem;
}

.menu__incentive, .menu__message {
    font-size: 3vh;
    letter-spacing: 0.1rem;
    display: flex;
    text-align: center;
}

.menu__main {
    grid-column:  1/4;
    grid-row: 2/3;
    justify-self: center;
    display: grid;
    align-content: center;
}

.btn__links {

    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    margin: 5vh auto;
}

.menu__footer {
    grid-column:  1/4;
    grid-row: 3/4;
    justify-self: center;
    align-items: center;
}

/* --- << FC page >> --- */

/* Menu Button */

.button__menu {
    grid-column:  1/2;
    grid-row: 1/2;
    justify-self: left;
    align-items: center;
    margin: 2rem;
}

.button__menu a {
    text-decoration: none;
    outline: none;
}

.menu__link {
    width: 50rem;
    background-color: var(--clr-primary-500);
    padding: 2vh;
    font-size: 4vh;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--clr-neutral-900);
	text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
    background: linear-gradient(to bottom, var(--clr-primary-100) 5%, #1e62d0 100%);
	background-color: var(--clr-primary-900);
	border: 1px solid #337fed;
    border-radius: var(--br);
	display: inline-block;
	cursor: pointer;
}

.menu__link:hover {
	background:linear-gradient(to bottom, #0d67f7 20%, var(--clr-primary-100) 100%);
	background-color:#1e62d0;
}

/* Title Styling */

.btn__back {
    background: linear-gradient(to bottom, var(--clr-primary-100) 5%, #1e62d0 100%);
	background-color: var(--clr-primary-900);
    padding: 1rem;
    border-radius: var(--br);
    color: var(--clr-neutral-900);
    text-transform: uppercase;
    font-weight: bold;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-items: center;
    display: flex;
    align-content: center;
    align-items: center;

}

.btn__back a {
    text-decoration: none;
    outline: none;

}

.title__holder {
    grid-column:  2/3;
    grid-row: 1/2;
    justify-self: center;
    align-items: center;
    display: flex;
    align-content: center;
    align-items: center;
}

.title {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 3vh;
}

/* Card Styling */

.card__holder {
    grid-column:  1/4;
    grid-row: 2/3;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 30vw;
    height: 60vh;
    perspective: 60vw;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 900ms;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

/* Class for flipping FC*/

.card.is-flipped {
    transform: rotateY(180deg);
}

/* Styling FC positioning */

.card__main {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: var(--br);
    box-shadow: 0px 3px 18px 3px var(--clr-primary-300);
}

.card--front {
    background: var(--linear-grad);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.topic {
    color: var(--clr-neutral-900);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 4vh;
    margin-bottom: 3vh;
}

.image {
    width: 50%;
    border: 1px solid var(--clr-neutral-900);
    border-radius: var(--br);
}

img {
    width: 100%;
    display: block;
    border-radius: var(--br);
}

/* Styling the Back side of the FC*/
.card--back {
    background: var(--linear-grad);
    transform: rotateY(180deg);
}

.card__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.english__word {
    margin-bottom: 5rem;
    font-size: 5vh;
    letter-spacing: 0.4rem;
    font-weight: bold;
    color: var(--clr-neutral-900);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.384);
    text-align: center;

}

.english__ipa {
    margin-top: 2rem;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    color: var(--clr-neutral-300);
}



/* Button Styling */

.button__holder {
    grid-column: 1/4;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}

.card__next {
    background-color: var(--clr-primary-500);
    padding: 2vh;
    font-size: 2vh;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--clr-neutral-900);
	text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color: #3d94f6;
	border: 1px solid #337fed;
    border-radius: var(--br);
    box-shadow: inset 0px 2px 0px 0px #97c4fe;
	display: inline-block;
	cursor: pointer;

}

.card__next:hover {
	background:linear-gradient(to bottom, #0d67f7 50%, #3d94f6 100%);
	background-color:#1e62d0;
}

/* --- << Grammar_quiz page >> --- */

.grammar-quiz__holder{
    grid-column:  1/4;
    grid-row: 2/3;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 30vw;
    height: 60vh;
    perspective: 60vw;
    background: var(--linear-grad);
    color: var(--clr-neutral-900);
}

.grammar-quiz__question {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.grammar-quiz__answers {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 2rem
}


@media screen and (max-width: 60rem) {

/* --- << Menu page >> --- */



    .menu__title {
        font-size: 1.5rem;
        margin-bottom: 5vh;
        /* padding: 0; */
        letter-spacing: 0.1rem;
    }

    .menu__incentive, .menu__message {
        font-size: 3vh;
        letter-spacing: 0.0.5rem;
    }


    .menu__link {
        width: 20rem;
        margin: 5vh auto;
        font-size: 1.5rem;
    }

    .title__holder {
        display: none;
    }
    .card__holder {
        width: 20rem;
        perspective: 50rem;
    }
}

@media screen and (max-width: 80rem) and (min-width: 60rem){

    /* --- << Menu page >> --- */
    
    
    
        .menu__title {

            padding: 1.5rem;
        }
    
        .menu__incentive, .menu__message {
            font-size: 3vh;
            letter-spacing: 0.0.5rem;
        }
    
    
        .menu__link {
            width: 30rem;
            margin: 5vh auto;
            font-size: 1.5rem;
        }
    }