:root {
  --clr-primary-100: #00e3c6;
  --clr-primary-300: #00b9ce65;
  --clr-primary-500: #008dc6;
  --clr-primary-900: #003580;
  --clr-neutral-100: #b1a8b9;
  --clr-neutral-300: #27104b;
  --clr-neutral-900: #200549;
  --clr-accent-900: #9610d8;
  --br: 0.7em;
  --linear-grad: linear-gradient(to left top, #003580, #00458f, #00569d, #0066aa, #0077b7, #0086c1, #0095cb, #00a4d3, #00b5d9, #00c5d8, #00d5d2, #00e3c6);
  --linear-grad-menu: linear-gradient(to bottom, #00e3c6 5%, #1e62d0 100%);
}

/*------ Global Settings------*/

*,
*::before,
*::after {
  margin: o;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Body Styling */

body {
  background: url('../images/background.png') no-repeat center center/cover;
  height: 100vh;
  color: var(--clr-neutral-100);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #120620;
}

/* --- << Menu page >> --- */

.menu__header {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}

.menu__title {
  font-size: 5vh;
  text-align: center;
  text-transform: uppercase;
}

.menu__incentive {
  text-align: center;
  padding-top: 2vh;
}

.menu__main {
  grid-column: 2/3;
  grid-row: 2/4;
  justify-self: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu__link {
  width: 50rem;
  min-width: 90%;
  background-color: var(--clr-primary-500);
  padding: 6vh;
  font-size: 4vh;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--clr-neutral-900);
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
  background: var(--linear-grad-menu);
  background-color: var(--clr-primary-900);
  border: 1px solid #337fed;
  border-radius: var(--br);
  display: inline-block;
  cursor: pointer;
}



/* --- << FC page >> --- */

/* Menu Button */

.button__menu {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: left;
  align-items: center;
  margin: 1rem;
}

.button__menu a {
  text-decoration: none;
  outline: none;
}

.menu__link:hover {
  background: linear-gradient(to bottom, #0d67f7 20%, var(--clr-primary-100) 100%);
  background-color: #1e62d0;
}

/* Title Styling */

.btn__navigation {
  background: var(--linear-grad-menu);
  background-color: var(--clr-primary-900);
  padding: 2vh 3vw;
  border-radius: var(--br);
  color: var(--clr-neutral-900);
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-items: center;
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 4vh;
}

.btn__navigation a {
  text-decoration: none;
  outline: none;
}

.title__holder {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  align-items: center;
  display: flex;
  align-content: center;
  align-items: center;
}

.title {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1.5rem;
  text-align: center;
}

/* Card Styling */

.card__holder {
  grid-column: 1/4;
  grid-row: 2/3;
  align-items: center;
  justify-self: center;
  justify-content: center;
  width: 30vw;
  height: 60vh;
  perspective: 60vw;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 900ms;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

/* Class for flipping FC*/

.card.is-flipped {
  transform: rotateY(180deg);
}

/* Styling FC positioning */

.card__main {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: var(--br);
}

.card--front {
  background: var(--linear-grad);
  display: grid;
  grid-template-rows: 1fr 6fr;
}

.topic {
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  color: var(--clr-neutral-900);
  text-transform: uppercase;
  font-size: 2.5vh;
  text-align: center;
}

.image {
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3rem auto;
  width: 29vw;
}

img {
  display: block;
  height: 40vh;
  width: 100%;
  object-fit: contain;
}

/* Styling the Back side of the FC*/

.card--back {
  background: var(--linear-grad);
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-neutral-900);
}

.english__word {
  margin-top: 2rem;
  margin-bottom: 7vh;
  padding: auto 1rem;
  font-size: 5vh;
  letter-spacing: 0.4rem;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.384);
  text-align: center;
}

.english__ipa {
  margin-bottom: 7vh;
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--clr-neutral-300);
}

.voice__options {
  display: flex;
  padding: 1.5rem;
  font-size: 3vh;
}

.voice__option {
  display: flex;
  margin: auto 2rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.voice__option:hover {
  color: var(--clr-primary-900)
}

.voice__name {
  padding-right: 1vw;
  font-weight: bold;
}

.voice__btn {
  width: 3vw;
  height: 3vh;
  position: relative;
}

.voice__icon {
  font-size: 3vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Button Styling */

.button__holder {
  grid-column: 1/4;
  grid-row: 3/4;
  justify-self: center;
  align-self: center;
}

.card__next {
  background-color: var(--clr-primary-500);
  padding: 2vh 2vw;
  font-size: 3.5vh;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--clr-neutral-900);
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border: 1px solid #337fed;
  border-radius: var(--br);
  box-shadow: inset 0px 2px 0px 0px #97c4fe;
  display: inline-block;
  cursor: pointer;
}

.card__next:hover {
  background: linear-gradient(to bottom, #0d67f7 50%, #3d94f6 100%);
  background-color: #1e62d0;
}

/* --- << Grammar_quiz page >> --- */

.button__instructions {
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: right;
  align-items: center;
  margin: 1rem;
}

.button__instructions a {
  text-decoration: none;
  outline: none;
}

.grammar-quiz__holder {
  grid-column: 1/4;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
  min-width: 40vw;
  background: var(--linear-grad);
  border-radius: var(--br);
  color: var(--clr-neutral-900);
  padding: 2rem;
}

.grammar-quiz__question--holder {
  display: flex;
  flex-direction: column;
}

.grammar-quiz__question,
.grammar-quiz__tasks {
  font-size: 5vh;
  font-weight: bold;
  margin-bottom: 5vh;
}

.grammar-quiz__tasks {
  display: flex;
  background-color: yellow;
}

.grammar-quiz__tasks div {
  margin: auto 1rem;
}

.grammar-quiz__answers {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem
}

.grammar-quiz__answer {
  padding: 1rem 1.5rem;
  font-size: 3vh;
  letter-spacing: 0.1rem;
  border-radius: 1rem;
  border: 1px solid var(--clr-neutral-900);
  text-align: left;
}

/* Styling instruction*/

.overlay {
  /* background: red; */
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 5;
}

.overlay--hidden {
  display: none;
}

.modal {
  z-index: 10;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 35rem;
  background-color: var(--clr-neutral-900);
  padding: 5rem;
  border-radius: var(--br);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.7);
}

.close-modal {
  position: absolute;
  top: 1.1rem;
  right: 1.9rem;
  font-size: 5rem;
  color: var(--clr-neutral-100);
  cursor: pointer;
  border: none;
  background: none;

}

.modal__instructions ul {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 2rem;
  list-style: none;
  margin: 0;
}

.modal__instructions ul li {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  font-weight: 400;
}

.sign {
  color: var(--clr-neutral-900);
  margin-right: 2rem;
  font-weight: 900;
  background-color: #00e3c585;
  width: 5rem;
  text-align: center;
}

.modal--hidden {
  display: none;
}

@media screen and (max-width: 97rem) and (min-width: 46rem) {

  /* --- << Menu page >> --- */

  .menu__link {
    width: 40rem;
    min-width: 90%;
    background-color: var(--clr-primary-500);
    padding: 5vh;
    font-size: 3vh;
  }

  /* Media for FCs */

  .card__holder {
    width: 50vw;
    min-width: 60%;
    perspective: 50rem;
  }

  .topic {
    font-size: 2vh;
    padding: 0
  }

  .image {
    width: 55vw;
  }

  /* Media for quiz page */

  .grammar-quiz__holder {
    min-width: 60%;
    padding: 1.5rem;
  }

  .grammar-quiz__question--holder {
    display: flex;
    flex-direction: column;
  }

  .grammar-quiz__question,
  .grammar-quiz__tasks {
    font-size: 3vh;
    margin-bottom: 2vh;
  }

  .grammar-quiz__answer {
    padding: 1rem;
    font-size: 2.5vh;
    letter-spacing: 0.05rem;
  }
}


@media screen and (max-width: 46rem) {

  /* --- << Menu page >> --- */

  body {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr 2fr;
  }

  .menu__link {
    width: 15rem;
    background-color: var(--clr-primary-500);
    padding: 1rem auto;
    font-size: 1rem;
  }

  /* Media for FCs */

  .title__holder {
    display: none;
  }

  .card__holder {
    width: 80vw;
    perspective: 50rem;
  }

  .topic {
    font-size: 2vh;
    padding: 0
  }

  .image {
    width: 55vw;
  }

  .english__word {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    padding-bottom: 0;
  }


  .voice__options {
    display: flex;
    padding: 0.6rem;
    font-size: 3vh;
  }

  .voice__option {
    padding: 0.5rem;
    margin: auto 1rem;
  }


  .voice__name {
    padding-right: 1rem;
    font-weight: bold;
  }

  .voice__icon {
    font-size: 3vh;
  }

  .card__next {
    padding: 1rem;
    font-size: 1.5rem;
    margin: 1rem
  }


  /* Media for quiz page */

  .button__instructions {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: right;
    align-items: center;
    margin: 1rem;
  }

  .button__instructions a {
    text-decoration: none;
    outline: none;
  }

  .grammar-quiz__holder {
    width: 90%;
    padding: 1rem;
  }

  .grammar-quiz__question,
  .grammar-quiz__tasks {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .grammar-quiz__answers {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem
  }

  .grammar-quiz__answer {
    padding: 0.8rem;
    font-size: 1.5rem;
    letter-spacing: 0.02rem;
  }
}


@media (max-height: 35rem) and (min-width: 15rem) {
  body {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
  }

  /* Media for FCs */

  .btn__navigation {
    font-size: 2rem;
  }

  .title__holder {
    display: none;
  }

  .card__holder {
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    height: 70vh;
    width: 60vw;
  }

  .card--front {
    grid-template-rows: 1fr 7fr;
  }

  .image {
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  img {
    height: 55vh;
  }

  .topic {
    font-size: 1rem;
    padding: 0
  }

  .english__word {
    font-size: 2rem;
  }

  .english__ipa {
    margin-bottom: 2vh;
    font-size: 1rem;
  }

  .voice__options {
    font-size: 1.3rem;
  }

  .voice__option {
    margin-right: 0.1rem;
  }

  .voice__icon {
    font-size: 1.3rem;
  }

  .button__holder {
    grid-row: 3/4;
    align-self: start;
  }

  .card__next {
    font-size: 1rem;
  }
}

@media (max-height: 43.25rem) and (min-width: 30rem) {

  /* Media for quiz page */

  .grammar-quiz__holder {
    padding: 1.5rem;
  }

  .grammar-quiz__question--holder {
    display: grid;
    grid-template-columns: 0.5fr 4fr;
    gap: 1rem;
  }

  .grammar-quiz__question,
  .grammar-quiz__tasks {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .grammar-quiz__answer {
    padding: 0.7rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }

  .card__next {
    margin: 1rem;
  }
}